In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv('/content/sample_data/Mall_Customers.csv')
df

     CustomerID   Genre  Age  Annual Income (k$)  Spending Score (1-100)
0             1    Male   19                  15                      39
1             2    Male   21                  15                      81
2             3  Female   20                  16                       6
3             4  Female   23                  16                      77
4             5  Female   31                  17                      40
..          ...     ...  ...                 ...                     ...
195         196  Female   35                 120                      79
196         197  Female   45                 126                      28
197         198    Male   32                 126                      74
198         199    Male   32                 137                      18
199         200    Male   30                 137                      83

[200 rows x 5 columns]

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler=StandardScaler()

In [ ]:
scaler.fit(df.drop('Genre',axis=1))

StandardScaler()

In [ ]:
a=df.drop('Genre',axis=1).columns
a

Index(['CustomerID', 'Age', 'Annual Income (k$)', 'Spending Score (1-100)'], dtype='object')

In [ ]:
new_dataset=pd.DataFrame(df,columns=df.drop('Genre',axis=1).columns)

In [ ]:
new_dataset

     CustomerID  Age  Annual Income (k$)  Spending Score (1-100)
0             1   19                  15                      39
1             2   21                  15                      81
2             3   20                  16                       6
3             4   23                  16                      77
4             5   31                  17                      40
..          ...  ...                 ...                     ...
195         196   35                 120                      79
196         197   45                 126                      28
197         198   32                 126                      74
198         199   32                 137                      18
199         200   30                 137                      83

[200 rows x 4 columns]

In [ ]:
from sklearn.model_selection import train_test_split
x=new_dataset
y=df['Genre']

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier(n_neighbors=2)

In [ ]:

knn.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=2)

In [ ]:
pred=knn.predict(x_test)

In [ ]:
y_test

95       Male
15       Male
30       Male
158      Male
128      Male
115    Female
69     Female
170      Male
174    Female
45     Female
66     Female
182      Male
165    Female
78     Female
186    Female
177      Male
56     Female
152    Female
82       Male
68       Male
124    Female
16     Female
148    Female
93     Female
65       Male
60       Male
84     Female
67     Female
125    Female
132    Female
9      Female
18       Male
55       Male
75       Male
150      Male
104      Male
135    Female
137      Male
164      Male
76     Female
79     Female
197      Male
38     Female
24     Female
122    Female
195    Female
29     Female
19     Female
143    Female
86     Female
114    Female
173      Male
5      Female
126      Male
117    Female
73     Female
140    Female
98       Male
172      Male
96     Female
Name: Genre, dtype: object

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

      Female       0.59      0.83      0.69        36
        Male       0.33      0.12      0.18        24

    accuracy                           0.55        60
   macro avg       0.46      0.48      0.44        60
weighted avg       0.49      0.55      0.49        60